<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body>
    <header><%- include('layouts/header') %></header>

    <div class="container">
      <br />
      <br />
      <a href="/users/crear/" class="btn btn-primary">Crear Usuario</a>
      <br />
      <br />
      <table class="table table-light">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>correo</th>
            <th>Foto</th>
            <th>Funciones</th>
          </tr>
        </thead>
        <tbody>
          <% for( let user = 0; user < users.length; user++ ) { %>
          <tr>
            <td><%= users[user].id_usuarios %></td>
            <td><%=users[user].nombre %></td>
            <td><%=users[user].apellido %></td>
            <td><%=users[user].email %></td>
            <td><%=users[user].foto %></td>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <form
                  class="form-inline"
                  action="/users/borrar/<%=users[user].id_usuarios %>"
                  method="post"
                >
                  <input class="btn btn-danger" type="submit" value="Borrar" />
                  |
                </form>
                <form class="form=inline" action="" method="get">
                  <input
                    class="btn btn-secondary"
                    type="submit"
                    value="Editar"
                  />
                </form>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <footer><%- include('layouts/footer') %></footer>
  </body>
</html>
